@import "../../style/utils";
@import "./mainKittyGoal/mainKittyGoal";
@import "./mainKittyGoal/kittyChart";
@import "./mainKittyButtons/mainKittyButtons";

.kitty_content {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.kittyContent_header {
  width: 100%;
  @include flexRow;
}

.kittyContent_img {
  display: block;
  width: 40%;
  height: 450px;
  position: relative;
  img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
  }
}

.kittyContent_main {
  width: 100%;
  min-height: 220px;
  background-color: map-get($colors, mint);
  @include flexRow;
  .kittyContent_details {
    text-align: left;
    width: 60%;
    padding: 2rem;
    height: fit-content;
  }
}
