@import "../../style/utils";

.createKitty_btn {
  @include flexRow;
  padding: 0.8rem 1rem;
  background-color: map-get($colors, mauve);
  color: map-get($colors, ice);
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 5px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  svg {
    font-size: 2rem;
  }
  p {
    margin-left: 1rem;
  }
  &:hover {
    cursor: pointer;
    background-color: map-get($colors, lightmouse);
    color: map-get($colors, mauve);
    transform: scale(1.1);
  }
}
