@import "../../style/utils";

.homepage {
  background-color: lighten(map-get($colors, rose), 33%);
}

.homepage_main {
  .homepageMain_kitties {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    flex-wrap: wrap;
  }
}
