@import "../../style/utils";

.card-footer {
  @include flexRow;
  height: 50px;
  background-color: map-get($colors, darkmint);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  padding: 0;

  .cardFooter-author {
    @include authorFont;
    padding: 0 0.5rem;
  }

  .card-likes {
    @include flexRow;
    justify-content: flex-end;
    transition: all 400ms ease-in-out;
    padding: 0 1rem;
    width: fit-content;
    height: 100%;
    font-size: 1.2rem;
    &:hover {
      cursor: pointer;
    }
  }

  .card-likes--liked {
    background-color: lighten(map-get($colors, mint), 0%);
    color: map-get($colors, mauve);
    &:hover {
      background-color: lighten(map-get($colors, rose), 20%);
      color: map-get($colors, mauve);
    }
  }

  .card-likes--unliked {
    background-color: map-get($colors, ice);
    color: map-get($colors, mauve);
    &:hover {
      background-color: lighten(map-get($colors, rose), 20%);
      color: map-get($colors, mauve);
    }
  }
}
