@import "../../style/utils";

.main_header {
  width: 100%;
  padding: 0.5rem 0;
  @include flexRow;
  gap: 0.5rem;

  @include responsiveTabloids {
    flex-direction: column;
  }

  h2 {
    text-align: left;
    color: map-get($colors, rose);
    font-size: 3rem;
    font-weight: 800;
    word-wrap: break-word;
    max-width: 70%;
    @include responsiveTabloids {
      text-align: center;
      max-width: 100%;
    }
    @include responsiveMobiles {
      font-size: 2.5rem;
    }
    @include responsiveMini {
      font-size: 2rem;
    }
  }
}
